.wrapper {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  padding: 40px 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 0;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
